/* General Styles */
* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

/* Navbar Styles */
nav {
  background-color: #2d2d2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 10px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  padding: 0 20px;
}

a:hover {
  color: bisque;
}

/* Works Styling */
.works {
  display: flex;
}

.work {
  padding: 20px;
}

.work-heading {
  margin-top: 20px;
  margin-left: 20px;
}

/* Skills Styling */
.skills-heading {
  margin: 20px 0 20px 20px;
}

.skills {
  width: 70%;
  border-collapse: collapse;
  margin: auto;
}

.skills td, .skills th {
  border: 1px solid #ddd;
  padding: 8px;
}

.skills tr:nth-child(even) {
  background-color: #f2f2f2;
}

.skills tr:hover {
  background-color: #ddd;
}

.skills th {
  padding: 12px 8px;
  text-align: left;
  background-color: #5bb600;
  color: white;
}

/* Experience Styling */
.exp-heading {
  margin: 20px 0 20px 20px;
}

.exp {
  margin: 15px;
  padding: 10px;
  border: 2px solid #d2d2d2;
  border-radius: 10px;
  box-shadow: 0px 8px 5px rgba(0,0,0,0.22);
}

/* Footer Styling */
footer {
  background-color: #2d2d2d;
  color: white;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 10px;
}